body {
  font-family: 'Arial', sans-serif;
  background-color: #caf0f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#swap-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #0077b6;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #0077b6;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #00b4d8;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0077b6;
}

.send, .receive {
  margin-bottom: 20px;
}


.currencies {
  margin-top: 5px;
}

